body {
  background-color: #444;
  margin: 20px;
  color: whitesmoke;
  font: 32px "Century Gothic", sans-serif;
};

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}


.square {
  background-color: #222;
  color: whitesmoke;
  border: 1px solid #888;
  padding: 0px;
  font-size: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
  background-color: #444;
}